.button,
.button-link {
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 4px;
    display: inline-block;
    max-width: max-content;
    min-width: max-content;
    text-transform: uppercase;
    color: var(--color-primary-5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(var(--color-primary-1),
            var(--color-primary-2));
}

.button:hover {
    background: linear-gradient(var(--color-primary-2),
            var(--color-primary-3));
}

.button.secondary {
    color: var(--color-neutral-12);
    background: linear-gradient(var(--color-neutral-5),
            var(--color-neutral-6));
}

.button.secondary:hover {
    background: linear-gradient(var(--color-neutral-6),
            var(--color-neutral-7));
}

.button-link {
    padding: 0;
    box-shadow: none;
    background: transparent;
    color: var(--color-primary-2);
}

.button-link::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: currentColor;
}

.button-link:hover {
    color: var(--color-neutral-2);
}

@media (max-width: 800px) {

    .button,
    .button-link {
        padding: 14px 24px;
    }
}

@media (max-width: 550px) {

    .button,
    .button-link {
        padding: 12px 20px;
    }
}